<nav class="navbar navbar-light bg-light mb-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Movie Watch List</span>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-sm-6 border-0">
        <div class="d-flex card align-items-center mb-3">
          <img src="<%= movie.poster_url %>" alt="" class="rounded img-fluid w-50">
          <div class="card-body text-center">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
            <%= link_to "Go to page details", movie_path(movie) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
